<div class="py-5 d-flex justify-content-center">
    <div class="text-start">
        <div>
            <p class="text-light"><strong class="me-3 text-dark">Name: </strong>FirstName LastName</p>
        </div>
        <div>
            <p><strong class="me-3">Address: </strong>AddressLine, PostalCode, City</p>
        </div>
        <div>
            <p><strong class="me-3">Telephone: </strong>070 070 07 07</p>
        </div>
        <div>
            <p><strong class="me-3">E-mail: </strong>mailaddress@mail.com</p>
        </div>
    </div>
</div>


