<footer class="bg-dark py-2">
    <div class="container">
        <ul class="d-flex justify-content-center align-items-center m-0 ps-0">
          <li>
            <a class=" me-5" routerLink="linkedIn" routerLinkActive="active"><i class="fab fa-linkedin"></i></a>  
          </li>
          <li>
            <a class=" me-5" routerLink="github" routerLinkActive="active"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a class="" routerLink="twitter" routerLinkActive="active"><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
    </div>
</footer>
