
<div class="center">
   <div class="row pt-5 align-items-center">
      <div class="col-md-6 image text-center mb-5 p-3">
         <img src="../../../assets/images/pexels-shahin-khalaji-3504530.jpg" alt="image" class="shadow">
      </div>
      <div class="col-md-6 mb-5 p-2 shadow">
         <div class="title text-center">
            <h1 class="my-3">FIRSTNAME LASTNAME</h1>
            <h4 class="text-start p-2 ps-3 bg-light mb-0">Job Title</h4>
         </div>
         <div class="p-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aut magni voluptates, repellat numquam, consectetur quod repudiandae cum dolor dolorem quis ipsam blanditiis excepturi. Rem, dignissimos quae explicabo eos ducimus veritatis. Modi ut consectetur ipsam velit sapiente placeat tempora officiis? Est, assumenda doloribus asperiores sapiente sequi sint nostrum suscipit deleniti nisi.</p>
         </div>
      </div>
   </div>
</div>