@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-3">Welcome</h1>
    <h3 class="text-success">To Ecommerce-app home page</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/dator-surfplatta/laptop/chromebook/acer-chromebook-311-nx-aayed-001(1019133)_451219_1_Normal_Large.webp" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/gaming/gamingdator/barbar-gamingdator/medion-erazer-crawler-e10-md62105(1016120)_447818_1_Normal_Large.webp" class="card-img-bottom" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/gaming/gamingdator/barbar-gamingdator/razer-blade-15-base-rz09-03519n11-r3n1(1019937)_453587_3_Normal_Large.webp" class="card-img-bottom" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/dator-surfplatta/laptop/laptop-10-13-tum/apple-macbook-pro-256gb-ssd-m1-chip-with-8core-cpu-and-8core-gpu-space-grey(1015653)_405147_12_Normal_Large.webp" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/dator-surfplatta/laptop/laptop-14-16-tum/apple-14-inch-macbook-pro-apple-m1-pro-chip-with-8core-cpu-and-14core-gpu-512gb-ssd-silver(1021552)_468626_4_Normal_Large.webp" class="card-img-bottom" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 p-5">
                <img src="https://www.netonnet.se/GetFile/ProductImagePrimary/dator-surfplatta/laptop/laptop-10-13-tum/asus-zenbook-13-ux325ea-pure18-133(1019345)_445924_1_Normal_Large.webp" class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>
</div>
