
$dark:                  #333333;
$light:                 #ffffff;
$grey:                  #cccccc;
$petrol:                #005761;
$darkpetrol:            #0c3a3f;
$orange:                #df9203;

$primary-color:         $darkpetrol;
$secondary-color:       $orange;



